import { TRoutes } from '@hoomies/noak.types.route';

/**
 * Configures Routes to display in menu
 */
const selectedPaths : Array<string> = ['/p/about', '/blog', '/contact'];
const CustomRoutes: TRoutes = getRoutes(selectedPaths);

export default CustomRoutes;
